.nav li {
  float: left;
}
.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #400f18;
}

.nav a {
 display: block;
 	font-family: 'Space Grotesk', sans-serif;
  color: #f5b433;
  text-align: center;
  padding: 14px 16px;
  text-transform: uppercase; /* Optional for a bold look */
  letter-spacing: 0.5px; /* Adds a sleek touch */
  text-decoration: none;
}

body {
  color: #f5b433;
  background: #261014;
  font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}
#controls {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
}
#colorSelector {
    display: flex;
    align-items: center;
    gap: 10px;
}
.color-option {
    width: 20px;
    height: 20px;
    border: 2px solid transparent;
    border-radius: 50%;
    cursor: pointer;
}
.color-option.selected {
    border-color: black;
}
#zoomControls {
    display: flex;
    gap: 5px;
}
#zoomControls button {
    padding: 5px 10px;
    font-size: 18px;
    cursor: pointer;
}
#mapContainer {
    resize: both;
    overflow: auto;
    width: 600px;
    height: 500px;
    min-width: 200px;
    min-height: 200px;
    border: 1px solid #ccc;
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    cursor: grab;
}
#mapZoom {
    transform-origin: top left;
    transition: transform 0.2s ease;
    width: 100%;
    height: 100%;
    position: absolute;
}
#uploadedMap {
    max-width: 100%;
    max-height: 100%;
    display: none;
}
#markers {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.marker {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    cursor: pointer;
    border: 2px solid transparent;
}
.marker.selected {
    border: 2px solid white;
}
#notes {
    width: 30%;
}
textarea {
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
}
button {
    padding: 5px 10px;
    font-size: 16px;
}
